{% load static %}
<script src="{% static "js/jquery-1.11.1.js" %}"></script>
<script src="{% static "js/rango-jquery.js" %}"></script>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pantry</title>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cce5528f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pantryapp/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>





</head>

<body>

    <nav>
    <div class="nav-wrapper cyan darken-3">
        <a href="{% url 'pantryapp:index' %}"><img class="logo_class" src="{% static 'pantryapp/images/pantry-logo.png' %}" width="150" height="auto" padding='100'></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'pantryapp:index' %}">Home</a></li>
            <li>|</li>
            <li><a href="{% url 'pantryapp:ingredients' %}">Ingredients </a></li>
            <li>|</li>
            <li><a href="{% url 'pantryapp:saved_recipes' %}">Recipes</a></li>
            <li>|</li>
            <li><a class="dropdown-trigger"  data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{% url 'userapp:logout_user' %}">Logout</a></li>
            {% else %}
            <li class="divider"></li>
            <li><a href="{% url 'userapp:login_page' %}">Login</a></li>
            <li><a href="{% url 'userapp:registration_page' %}">Register</a></li>
            {% endif %}
    </ul>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'pantryapp:index'%}">Home</a></li>
        <li><a href="{% url 'pantryapp:ingredients'%}">Ingredients</a></li>
        <li><a href="{% url 'pantryapp:ingredients' %}">Recipes</a></li>
    </ul>

    {% block content %}
    {% endblock %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems_dropdown = document.querySelectorAll('.dropdown-trigger');
            var instances_dropdown = M.Dropdown.init(elems_dropdown, {
                coverTrigger: false,
                hover: true,
            });

            var elems_sidenav = document.querySelectorAll('.sidenav')
            var instances_sidenav = M.Sidenav.init(elems_sidenav, {});

            var elems_tooltipped = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems_tooltipped, {});

            var elems_carousel = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems_carousel, {});

            var instance = M.Carousel.init({
                fullWidth: true,
                indicators: true
            });
        });


    </script>
</body>

</html>
