{% extends 'pantryapp/base.html' %}

{% block content %}
<div class="main_recipe_body">
  <h3 id="recipe_title">{{recipe.title}}</h3>
  <div class="make_recipes_container">
    <!-- <div class="quick_info"> -->
      <div id='instructions_div'>
        <div id=recipe_headings>
            <div id="recipe_thumbail_div">
              <img id="recipe_thumbnail" src={{recipe.image}}>
              <h3>Ingredients</h3>
              <div id="recipe_ingredients">
                  <ul>
                  {% for ingredient in recipe.extendedIngredients %}
                      <li>{{ingredient.original}}</li>
                  {% endfor %}
                  </ul>
              </div>
            </div>
            <hr>
        </div>
      </div>
              <div id="recipe_summary">
                <div>
                  <h5>Time: {{recipe.readyInMinutes}}mins</h5>
                  <hr>
                  <h5>Likes: {{recipe.aggregateLikes}}</h5>
                  <hr>
                  <h5>Score: {{recipe.spoonacularScore}}</h5>
                  <hr>
                  <div><h4 align="center" id="instructions_heading">Steps</h4>
                    <div id=instructions_div>
                    <ol class='spaced_numbers'>
                    {% for step in recipe.analyzedInstructions.0.steps %}
                        <li>{{step.step}}</li>
                    {% endfor %}
                    </ol>
                    </div>
                  </div>
                    <div id="more_information_button"><a  href="{{recipe.sourceUrl}}" target="blank" class="btn">More infromation</a></div>
                </div>
              </div>
  </div>
  <!-- <div id="recipe_ingredients">
      <ul>
      {% for ingredient in recipe.extendedIngredients %}
          <li>{{ingredient.original}}</li>
      {% endfor %}
      </ul>
      <div id="instructions_div">
          <br/>

          <a  href="{{recipe.sourceUrl}}" target="blank" class="btn">More infromation</a>
      </div>

  </div> -->
</div>
  <!-- </div> -->


<!-- <div class="recipe_instructions_container">
    <div>
        <div id=recipe_headings>
            <h3 id="recipe_title">{{recipe.title}}</h3>
        </div>
        <div id="recipe_summary">
            <h5>Time: {{recipe.readyInMinutes}}mins</h5>
            <hr>
            <h5>Likes: {{recipe.aggregateLikes}}</h5>
            <hr>
            <h5>Score: {{recipe.spoonacularScore}}<h5>
        </div>
        <div>{{recipe.instructions}}</div>
        <hr>
        <div id="instructions_ingredients">
            <div id="recipe_ingredients">
                <ol>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ingredient.original}}</li>
                {% endfor %}
                </ol>
            </div>
            <div id="instructions_div">
                <br/>
                <h2 align="center" id="instructions_heading">Instructions</h2>
                <div id=instructions_div>
                <ol class='spaced_numbers'>
                {% for step in recipe.analyzedInstructions.0.steps %}
                    <li>{{step.step}}</li>
                {% endfor %}
                </ol>
                </div>
                <a  href="{{recipe.sourceUrl}}" target="blank" class="btn">More infromation</a>
            </div>
        </div>
    </div>


    <img id="recipe_thumbnail" src={{recipe.image}}>

</div> -->
<style type="text/css">
    a:hover {
      cursor: pointer !important;
    }
    /* make_recipes */

    .recipe_instructions_container{
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        margin: 0 auto;
    }

    #recipe_thumbnail{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 20px;
        margin-right: 20px;
    }
    #recipe_headings{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    #image_div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #recipe_title{
        color:teal;
    }
    /* #steps{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    } */
    #instructions_heading{
        margin-bottom:0px;
        color: teal;
    }
.spaced_numbers{

}
#instructions_div{
  display:flex;
  flex-direction:column;
}

.make_recipes_container{
  max-width:1500px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-start;
}


#recipe_summary{
  display:flex;
  flex-direction:column;


}

.main_recipe_body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;
}

#recipe_ingredients{
  display:flex;
  flex-direction:row
  align-items:flex-start;
  justify-content:flex-start
}


#more_information_button{
  display:flex;
  justify-content:center;
  flex-direction:row;
}
h3{
  color:teal;
}
</style>
{% endblock %}
