{% extends 'pantryapp/base.html' %}

{% block content %}
<div class="card_flex">
{% for recipe in recipes %}
<!-- <div id='images_grid>' -->
<div class="card medium ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{recipe.image}}">
    </div>
    <div class="card-content">
      <div class="card-title activator grey-text text-darken-4">{{ recipe.title }}<i class="material-icons right">more_vert</i></div>
      <p><a href="#">Make this recipe...</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
<!-- </div> -->

    {% endfor %}
</div>
{% endblock %}
